@import "../../index.scss";

.topHome{
    background-image: url(../../assets/images/paladins.b44d33d6e7ee1ba8.png);
    background-color: #1c1e22;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 50vh !important;
}
